@use "setup";

// $paleRose: #f5c8cf;
// $lightPink: #b2eeb2;

// Fonts
$primaryFont: "Emblema One", cursive;
$secondaryFont: "Barlow", sans-serif;
$navFont: "Catamaran", sans-serif;
$header: #f5c8cf;

// General

html {
  font-size: 125%; //20px
  line-height: 1.15;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Navbar & Header
header {
  background: url(../assets/header-group-appliances.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  background-color: $header;
}

nav ul {
  display: flex;
  justify-content: right;
  padding: 20px 0;
  li {
    margin-right: 20px;
    font-family: $navFont;
    font-size: 18px;
    line-height: 29px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #042259;
  }
}

.flex-container {
  display: flex;
}

.header-text {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $primaryFont;
  font-size: 5.23rem;
  line-height: 87.3px;
  color: #1d81cc;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-text p {
  font-family: $secondaryFont;
  font-size: 1.86rem;
  text-transform: lowercase;
  line-height: 37.9px;
  letter-spacing: 0.3px;
  color: #042259;
}

// News Section

.news-section {
  background-color: #fcdde2;
  padding: 20px 0;
}

h2 {
  margin-top: 0;
  font-family: $primaryFont;
  color: #1d81cc;
  font-size: 42px;
  text-align: center;
}

.image-carousel ul {
  display: flex;
  justify-content: space-between;
}

.coffee-appliances {
  display: flex;
  margin-top: 60px;
}

.coffee-appliances-text {
  margin-left: 40px;
}

.coffee-appliances-text h2 {
  text-align: left;
}

.coffee-appliances-text p {
  font-family: $secondaryFont;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.2px;
}

.coffee-appliances a {
  padding: 10px 12px;
  text-decoration: none;
  background-color: #042259;
  font-family: $primaryFont;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

// Smoothies Section

.smoothies-section {
  background-color: #f0f5ff;
}

.smoothies-flex-container {
  display: flex;
}

.smoothies-text-container {
  margin: 100px 0;
  width: 100%;
  h2,
  p,
  a {
    margin-left: 20px;
  }
  h2 {
    text-align: left;
    text-transform: uppercase;
  }
  p {
    font-family: $secondaryFont;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
  }
  a {
    padding: 10px 12px;
    text-decoration: none;
    background-color: #f5c8cf;
    font-family: $primaryFont;
    font-size: 20px;
    line-height: 29px;
    color: #042259;
    text-align: center;
  }
}

.smoothies-img-container {
  width: 100%;
  img {
    max-width: 100%;
  }
}

// Features Section

.features {
  background-color: #fcdde2;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    i {
      display: block;
      text-align: center;
      font-size: 35px;
      color: #042259;
    }

    a {
      text-decoration: none;
    }
  }
}
h4 {
  font-family: $primaryFont;
  font-size: 31.2px;
  text-align: center;
  margin: 0;
  color: #1d81cc;
}

// Contact Section

.contact-flex {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  p {
    font-family: $secondaryFont;
  }
}

h3 {
  font-family: $primaryFont;
  font-size: 25px;
  color: #1d81cc;
}

input {
  font-family: $secondaryFont;
  text-transform: lowercase;
  padding: 10px;
  border: 1px solid #f5c8cf;
}

input,
textarea {
  background-color: white;
}

button {
  padding: 10px 12px;
  text-decoration: none;
  background-color: #f5c8cf;
  font-family: $primaryFont;
  font-size: 20px;
  line-height: 29px;
  color: #042259;
  text-align: center;
  border: none;
}

.contact ul li {
  font-family: $secondaryFont;
  text-align: left;
}

.footer-nav a {
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  h3:first-child {
    margin-bottom: 0;
  }
  .footer-list {
    margin: 0;
  }
}

// Footer

footer {
  background-color: #042259;
  p {
    font-family: $secondaryFont;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
}

// Media Queries

@media (max-width: 420px) {
  .wrapper {
    height: 100%;
    width: 95%;
  }

  // Header
  h1 {
    font-size: 3.3em;
    width: 100%;
    line-height: 1;
  }

  nav {
    display: none;
  }

  // News Section

  .image-carousel ul {
    flex-direction: column;
  }

  .coffee-appliances {
    flex-direction: column;
    align-items: center;
  }

  .coffee-appliances-text {
    margin: 0;
    h2 {
      text-align: center;
    }
    a {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }

  // Smoothies Section

  .smoothies-section {
    background-color: #fcdde2;
  }

  .smoothies-flex-container {
    flex-direction: column;
  }

  .smoothies-text-container h2 {
    text-align: center;
  }

  .smoothies-text-container a {
    background-color: #042259;
    color: #fff;
    margin: 0 auto;
    display: block;
    width: 50%;
    text-align: center;
  }

  // Features Section

  .features ul {
    flex-direction: column;
    padding: 0;
    li {
      margin: 50px;
    }
  }

  // Footer Section

  .contact-flex {
    flex-direction: column;
  }
}
